@import '../../../node_modules/antd/lib/style/color/colorPalette.less';
@import '../../../node_modules/antd/dist/antd.less';
@import '../../../node_modules/antd/lib/style/themes/default.less';

@border-radius-base: 2px;

.logo {
  color: black;
  padding: 20px;
  font-size: 1.3em;
  &:not(.collapsed) {
    svg {
      margin-right: 10px;
    }
  }
  &.collapsed > span {
    display: flex;
    justify-content: center;
  }
}

.nav-initials {
  font-size: 0.7em !important;
  transform: translateY(-0.2rem);
  margin-right: 0.75em !important;
  > span {
    border: 1px solid black;
    padding-left: 1px;
    padding-right: 1px;
    width: 1.7em;
    height: 1.6em;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
}

.docs-header {
  background: white;
  display: flex;
  .search-wrapper {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .ant-select {
      transition: all 0.2s;
      &.ant-select-focused {
        width: 500px !important;
      }
    }
  }
}

.page_spinner {
  position: fixed;
  background: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  text-align: justify;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.1em;
}
