@import 'marx/marx';

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 0em;

  .branding {
    font-size: 1.8em;
    flex: 1;
    white-space: nowrap;
  }

  .search {
    flex: 2;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1000;
    input {
      width: auto;
      min-width: 50%;
      text-align: center;
      position: relative;
      top: 0px;
      transition: all 300ms ease;
    }
    &:before {
      z-index: -1;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: #80808061;
      content: '';
      opacity: 0;
      display: none;
      transition: all 300ms ease;
    }
    &:focus-within {
      > input {
        top: 100px;
        min-width: 80%;
      }
      &:before {
        opacity: 1;
        display: block;
      }
    }

    .search-results {
      position: fixed;
      top: 250px;
      width: 80%;
      background: #f7f7f9;
      padding: 1em;
      max-height: calc(80% - 250px);
      overflow-y: scroll;
      border-radius: 5px;
      border: 1px solid gray;

      h1 {
        padding-top: 0;
        font-size: 1.3em;
        padding-bottom: 0;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          background: #efefef;
          border-radius: 4px;
          padding: 20px;
          margin-bottom: 20px;
          pre {
            margin: 5px 0;
            padding: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }

        label {
          font-weight: bold;
          font-family: $sans-serif;
        }
      }
    }
  }
  &:after {
    display: block;
    content: '';
    flex: 1;
  }
}

.main-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100vh;

  .sidebar {
    overflow-y: auto;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    margin: 0;
    padding-bottom: 100px;
    display: flex;
    flex: 0 0 300px;
    flex-flow: column nowrap;

    .recent {
      font-family: $sans-serif;
      padding-bottom: 20px;
      > div {
        padding: 20px;
        padding-left: 40px;
        padding-bottom: 0px;
      }
      li {
        .recent-time {
          display: block;
          font-size: 10px;
          color: gray;
          position: absolute;
          margin-top: 1px;
        }
        a {
          margin-top: 10px;
          display: inline-block;
        }
      }
      position: absolute;
      bottom: 0px;
      left: 0px;
    }

    h1 {
      color: white;
      padding: 20px;
      margin-top: 0;
      padding: 20px;
      color: white;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0px 0px 2px white;
      background: #2580b3;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 1.4em;
    }

    nav {
      line-height: 1.7em;
      padding: 20px;
      padding-top: 0px;
      font-size: 0.97em;
      font-family: $sans-serif;

      ul {
        padding-inline-start: 15px;
        list-style: none;
        position: relative;
        li {
          position: relative;
          .arrow {
            position: absolute;
            right: 0px;
            transform: rotate(-90deg);
            font-size: 1.3em;
            font-weight: bold;
            color: #2580b3;
          }
        }
      }

      & > ul {
        padding-inline-start: 0px;
        padding-left: 15px;
        padding-right: 15px;
        & > li {
          margin-bottom: 20px;
          & > a,
          & > .nav-category {
            font-size: 1.15em;
          }
        }
      }
    }

    .search {
      position: sticky;
      top: 0px;
      background: #efefef;
      padding: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .search input {
      background: white;
      border-radius: 25px;
      margin: 0px;
      padding: 5px;
      padding-left: 15px;
      padding-bottom: 8px;
      width: 100%;
      box-shadow: 0px 11px 20px #efefef;
    }
  }

  main {
    padding: 20px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    flex: auto;
    background: white;
    min-height: 100%;
    overflow-y: auto;
    max-width: initial;
    margin: 0;
    padding-bottom: 100px;

    .last-changed {
      font-family: $sans-serif;
      color: $primary;
      font-size: 0.8em;
      font-weight: bold;
      text-align: right;
    }

    article {
      max-width: 700px;
      width: 100%;

      & > *:first-child {
        padding-top: 34px;
      }
      & > *:last-child {
        margin-bottom: 100px;
      }
    }
    .previous-next {
      display: flex;
      &:not(:first-child) {
        margin-top: 40px;
      }
      .previous,
      .next {
        flex: auto;
        font-family: $sans-serif;
        font-size: 16px;
        font-weight: 600;
        span {
          background: #efefef;
          padding: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
          border-radius: 4px;
        }
      }
      .previous {
        span {
          margin-left: -10px;
        }
        span:before {
          content: '<< ';
          color: $primary;
        }
      }
      .next {
        text-align: right;
        span {
          margin-right: -10px;
        }
        span:after {
          content: ' >>';
          color: $primary;
        }
      }
    }
  }
}
