.content {
  display: flex;
  align-items: center;
  flex-direction: column;

  .bread-crumb {
    margin: 0;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    background: #dcdfe6;
    font-size: 0.7em;
    overflow: hidden;
    > span {
      display: inline-block;
      position: relative;
      z-index: 1;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      &:after {
        position: absolute;
        background: #c8cbd2;
        content: "";
        left: 0px;
        right: 0px;
        transform: skewX(-30deg);
        border-right: 1px solid gray;
        top: 0px;
        bottom: 0px;
        z-index: -1;
      }
      &:first-child:after {
        left: -30px;
      }
    }
  }
  .main-wrapper {
    width: 100%;
    padding: 40px;
    background: #eff1f4;
    box-shadow: inset 0px 7px 40px #3945590d;
    display: flex;
    align-items: center;
    flex-direction: column;
    main {
      flex: auto;
      max-width: 800px;
      padding: 0px;
      background-color: white;
      font-size: 0.9em;
      pre:not(.bread-crumb) {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
      }
      article {
        padding: 20px;
        h1:first-child {
          margin-top: 0px;
        }
      }
      a,
      a:link,
      a:active,
      a:hover {
        color: #800100;
      }
      text-align: justify;
    }
  }
}
