header {
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 0.5fr auto 0.5fr;
    gap: 0px 0px;
    grid-template-areas: '. . .';
    padding: 20px;
    margin: 0px;
    background: $color-base;
    margin-bottom: 50px;
    padding-top: 60px;
    padding-bottom: 30px;
    background: $color-base;
    figure.logo {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.2em;
        color: white;
        font-family: 'Raleway', sans-serif;
        svg {
            height: 1em;
        }
    }
    .colors {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .colors-toggle {
            background: transparent;
            border: none;
            height: 20px;
            margin: 0px;
            padding: 0px;
            svg {
                height: 20px;
                color: white;
            }
        }
        .colors-wrapper {
            color: white;
            font-size: 0.8em;
            position: absolute;
            white-space: pre;
            right: 0px;
            background: black;
            padding: 10px;
            z-index: 900;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
            border: 1px solid transparent;
            border-radius: 6px;
            .color {
                position: relative;
                figure {
                    display: flex;
                    align-items: center;
                    div {
                        background-color: var(--color-base);
                        width: 1em;
                        height: 1em;
                        border-radius: 1px;
                        border: 1px solid $color-extra-light;
                    }
                    label {
                        margin: 0;
                        margin-left: 0.3em;
                    }
                }
                .color-picker {
                    display: none;
                }
                &:hover {
                    .color-picker {
                        display: block;
                    }
                }
            }
        }
    }
    .color-picker {
        position: absolute;
        top: 20px;
        right: 0px;
        z-index: 1000;
        background: $color-extra-light;
        padding: 2px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    }
    .search {
        display: flex;
        justify-content: center;
        align-items: center;

        button.go {
            background: $color-base;
            border: transparent;
            height: 90%;
            margin-right: -6px;
            border-radius: 4px;
            padding: 0;
            display: flex;
            align-items: center;
            padding-left: 4px;
            padding-right: 8px;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
            svg {
                color: $color-extra-light;
                height: 24px;
            }
        }
        input {
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
            max-width: 90%;
            height: 90%;
            width: 50vw;
            margin: 0;
            color: $color-text;
            border: 1px solid $color-base;
            &::placeholder {
                filter: brightness(140%);
            }
        }
        &:focus-within {
            input,
            button {
                box-shadow: none;
            }
            input {
                border: 1px solid transparent;
                outline: 0;
                filter: saturate(1);
            }
            button {
                filter: brightness(110%);
            }
        }
    }
}
