nav.sidebar {
  flex: auto;
  max-width: 250px;
  width: 100%;

  min-width: 150px;
  padding: 20px;
  padding-left: 0px;
  border-radius: 7px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 3px 0px 21px #0000000f;
  font-size: 0.9em;
  ul {
    padding-left: 20px;
    list-style: none;
  }
}
