@import "../../node_modules/sakura.css/scss/sakura.scss";
$color-text: #657699;

$color-blossom: white;
$color-fade: #484d5a;

$color-bg: #f9f9f9;
$color-bg-alt: #e5e9f0;
@import "../../node_modules/sakura.css/scss/_main.scss";
@import "./header.scss";
@import "./sidebar.scss";
@import "./content.scss";
body {
  font-family: "Roboto", sand-serif;
  max-width: initial;
  padding: 0px;
  display: flex;
  height: 100vh;
  flex-direction: column;

  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". .";
}
