@import '../../../src/theme/styles/theme';

body {
  .header {
    .branding {
      display: flex;

      .license {
        margin-left: 5px;
        img {
          height: 17px;
          margin-right: 5px;
        }
      }
    }
  }

  main {
    .prism-code {
      background: rgb(25, 58, 78) !important;
      padding-bottom: 0 !important;
    }
  }
}
