@import '../../../src/theme/styles/theme';

#docs-app {
  .license {
    z-index: 1;
    position: sticky;
    padding-left: 24px;
    top: 55px;
    background: #efefef;
    box-shadow: 0px 11px 20px #efefef;
    img {
      height: 17px;
      margin-right: 5px;
    }
  }

  .branding h1 {
    letter-spacing: 0.1em;
    font-family: $sans-serif;
    display: flex;
  }

  main {
    .prism-code {
      background: rgb(25, 58, 78) !important;
      padding-bottom: 0 !important;
    }
  }
}
